.panel{
    margin: 20px;
    text-align: center;
}
.panel button{
    padding: 10px;
    border: 1px solid white;
    display: block;
    width: 100%;
}
.active, .eraseAllBtn{
    background-color: var(--bg-active);
}
.inactive{
    background-color: var(--bg-inactive);
}
.eraseAllBtn{
    margin-top: 20px;
}